.App {
  text-align: center;
}

.App-section {
  width:400px;
  height:50px;
  display:flex;
  justify-content: space-between;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 50px;
  color: white;
  display:flex;
  justify-content: space-around;
  align-content: center
}

.App-title {
  font-size: 1.5em;
  margin:0px;
  padding-top:10px;
}

.App-sub-title {
  font-size: 1em;
  margin:0px;
  padding-top:17px;
}

.App-intro {
  font-size: large;
}

.Ticker-item-container {
  display: flex;
  font-size: 0.7em;
  justify-content: space-between;
  flex-direction: row;
  height:15px;
}

.Ticker-item-column {
  width: 50px;
}

.TickerBox-Header {
  display: flex; 
  font-size: 1em;
  justify-content: space-between;
  flex-direction: row;
}

.Trade-item-container {
  display: flex;
  font-size: 0.7em;
  justify-content: space-between;
  flex-direction: row;
  height:15px;
}

.TradeBox-Header {
  display: flex; 
  font-size: 1em;
  justify-content: space-between;
  flex-direction: row;
}

.Trade-item-column {
  width: 50px;
}
