body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Ticker-item-container {
  display: flex;
  font-size: 0.7em;
  justify-content: space-between;
  flex-direction: row;
  height:15px;
}

.Ticker-item-column {
  width: 50px;
}

.TickerBox-Header {
  display: flex; 
  font-size: 1em;
  justify-content: space-between;
  flex-direction: row;
}